.App {
  text-align: center;
}
body{
background-color:rgba(0,0,0,0.3);
}

.MainSquare{
  margin-top:43px;
  margin-bottom:43px;
  border:black 1px solid;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:auto;
  /*background-color:rgba(0,0,0,0.3);*/
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#loginTemp{
  padding-top:15%;
}
.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
  margin-bottom:1px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.button{
  display:inline-block;
  padding:6px 12px;
  margin-bottom:0;
  font-size:14px;
  font-weight:400;
  line-height:1.42857143;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-image:none;
}
.loginButton, .actionBtn{
  border:1px solid transparent;
  border-radius:4px;
  box-shadow:3px 1px grey;

}
.button:active{
  box-shadow:3px 1px grey;
}
.button:hover{
  border-radius:3px;
  box-shadow:3px 1px rgba(0,0,255,0.5);
}

@media only screen and (max-width:40em) {
  h1{
    font-size:30px;
  }
  .MainSquare{
    margin-top:43px;
    margin-bottom:43px;
    border:black 0px solid;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:auto;
    /*background-color:rgba(0,0,0,0.3);*/
  }

}