
.entryForm{
    border: 15px inset lightslategrey;
    border-right-style: solid;
    border-left-style: solid;
    background-color:white;
}
.col-form-label{

}
.modal-container{
    position:relative;
}
.modal-container .modal,.modal-container .modal-backdrop{
    position:absolute;
}