#myform{
  max-width:60%;
  margin-left:auto;
  margin-right:auto;
}
@media only screen and (min-width: 80em) {
  #myform{
    max-width:30%;
  }

}
#loginBtn:hover{
  background-color: rgba(0,0,0,0.2);

}