#Add, #Remove{
  width:75%;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom:black 1px solid;
  min-height:60px;
  border:1px solid rgba(0,0,0,0.7);
  color:white;
}

#Add:hover,#Remove:hover{
  color:rgba(40,143,255,0.8);
  /*background-color: rgba(40, 143, 255, 0.3);*/
}

#Add:active, #Remove:active{
  box-shadow:3px 3px rgba(0,0,0,0.5);
}
.RosterPane{
  margin-top:30px;
}
.SplitPane {
  margin-top:43px;
  border-top: 5px rgba(0, 0, 0, 0.7) groove;
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 30%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  min-height:500px;
  border-right: 5px rgba(0, 0, 0, 0.7) groove;
}
.splitform{
  margin: 60px 30px;
  /*margin-left:60px;*/
}
.form-group select{
  margin-top:15px;
}
#editFormLabel{
  border-bottom:1px solid black;
}
.form-group button{
  margin-top:15px;
}
.SplitPane-right {
  min-height:500px;
  float: left;
  width: 70%;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
}
p{
  color:white;
}
.mainView{
  width:100%;
}